.profileBar {
  width: 20%;
  z-index: 1;
}

.profileBarHeader {
  height: 10%;
  border-bottom: 2px solid #f2f2f2;
}

.profileBarInfo {
  height: 40%;
  padding: 0 40px;
  border-bottom: 2px solid #f7f7f7;
}

.profilePhoto {
  height: 70px;
  width: 70px;
  overflow: hidden;
}

.userInfo {
  width: 100%;
  margin-bottom: 15px;
}

.userInfo > h3 {
  margin-top: 20px;
}

.userInfo > p {
  font-size: 12px;
}

.profileStat {
  flex: 1;
  margin-top: 5px;
}

.profileStat > h3 {
  margin-bottom: 5px;
}

.profileStat > p {
  font-size: 12px;
}

.profileBarSchedules {
  height: 30%;
  padding: 20px 0 0 40px;
  gap: 10px;
  border-bottom: 2px solid #f7f7f7;
}

.profileBarSchedules > div {
  height: 90%;
  overflow-y: scroll;
}

.profileBarSchedules > div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.profileBarSchedules > div::-webkit-scrollbar-thumb {
  background-color: #ebecf6;
  border-radius: 5px;
}

.sideSchedule {
  align-items: center;
  margin-bottom: 10px;
}

.sideSchedule > div {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
